In [2]:

!pip install pandas
!pip install numpy
!pip install scikit-learn

Requirement already satisfied: pandas in c:\users\timot\.conda\envs\kedro\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\timot\.conda\envs\kedro\lib\site-packages (2.1.2)
Requirement already satisfied: scikit-learn in c:\users\timot\.conda\envs\kedro\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\timot\.conda\envs\kedro\lib\site-packages (from scikit-learn) (3.5.0)

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv(r'C:\Users\timot\EGT309\data_transformation\cleaned_resale_data.csv')
df

,Month,Town,Flat_Type,Block,Street_Name,Storey_Range,Floor_Area_SQM,Flat_Model,Lease_Commence_Date,Remaining_Lease,Resale_Price,Remaining_Years,Average_Storey
0,2017-01-01,ANG MO KIO,2 Room,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,61,11.0
1,2017-01-01,ANG MO KIO,3 Room,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,60,2.0
2,2017-01-01,ANG MO KIO,3 Room,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,62,2.0
3,2017-01-01,ANG MO KIO,3 Room,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,62,5.0
4,2017-01-01,ANG MO KIO,3 Room,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,62,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171106,2025-01-01,YISHUN,3 Room,210,YISHUN ST 21,04 TO 06,67.0,New Generation,1985,59 years 10 months,423000.0,59,5.0
171107,2025-01-01,YISHUN,3 Room,468A,YISHUN ST 43,04 TO 06,67.0,Model A,2019,94 years,460000.0,94,5.0
171108,2025-01-01,YISHUN,4 Room,350,YISHUN AVE 11,04 TO 06,104.0,Model A,1988,62 years 09 months,558888.0,62,5.0
171109,2025-01-01,YISHUN,4 Room,430B,YISHUN AVE 11,07 TO 09,92.0,Model A,2015,90 years 01 month,590000.0,90,8.0
171110,2025-01-01,YISHUN,4 Room,139,YISHUN RING RD,01 TO 03,93.0,New Generation,1984,58 years 10 months,525000.0,58,2.0

In [5]:
df = df.drop(columns=['Storey_Range'])
df

#Dropped due to having Average story column

,Month,Town,Flat_Type,Block,Street_Name,Floor_Area_SQM,Flat_Model,Lease_Commence_Date,Remaining_Lease,Resale_Price,Remaining_Years,Average_Storey
0,2017-01-01,ANG MO KIO,2 Room,406,ANG MO KIO AVE 10,44.0,Improved,1979,61 years 04 months,232000.0,61,11.0
1,2017-01-01,ANG MO KIO,3 Room,108,ANG MO KIO AVE 4,67.0,New Generation,1978,60 years 07 months,250000.0,60,2.0
2,2017-01-01,ANG MO KIO,3 Room,602,ANG MO KIO AVE 5,67.0,New Generation,1980,62 years 05 months,262000.0,62,2.0
3,2017-01-01,ANG MO KIO,3 Room,465,ANG MO KIO AVE 10,68.0,New Generation,1980,62 years 01 month,265000.0,62,5.0
4,2017-01-01,ANG MO KIO,3 Room,601,ANG MO KIO AVE 5,67.0,New Generation,1980,62 years 05 months,265000.0,62,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
171106,2025-01-01,YISHUN,3 Room,210,YISHUN ST 21,67.0,New Generation,1985,59 years 10 months,423000.0,59,5.0
171107,2025-01-01,YISHUN,3 Room,468A,YISHUN ST 43,67.0,Model A,2019,94 years,460000.0,94,5.0
171108,2025-01-01,YISHUN,4 Room,350,YISHUN AVE 11,104.0,Model A,1988,62 years 09 months,558888.0,62,5.0
171109,2025-01-01,YISHUN,4 Room,430B,YISHUN AVE 11,92.0,Model A,2015,90 years 01 month,590000.0,90,8.0
171110,2025-01-01,YISHUN,4 Room,139,YISHUN RING RD,93.0,New Generation,1984,58 years 10 months,525000.0,58,2.0

In [6]:
for column in df.columns:
    print(f"Unique values for {column}:")
    print(df[column].unique())
    print("\n")

Unique values for Month:
['2017-01-01' '2017-02-01' '2017-03-01' '2017-04-01' '2017-05-01'
 '2017-06-01' '2017-07-01' '2017-08-01' '2017-09-01' '2017-10-01'
 '2017-11-01' '2017-12-01' '2018-01-01' '2018-02-01' '2018-03-01'
 '2018-04-01' '2018-05-01' '2018-06-01' '2018-07-01' '2018-08-01'
 '2018-09-01' '2018-10-01' '2018-11-01' '2018-12-01' '2019-01-01'
 '2019-02-01' '2019-03-01' '2019-04-01' '2019-05-01' '2019-06-01'
 '2019-07-01' '2019-08-01' '2019-09-01' '2019-10-01' '2019-11-01'
 '2019-12-01' '2020-01-01' '2020-02-01' '2020-03-01' '2020-04-01'
 '2020-05-01' '2020-06-01' '2020-07-01' '2020-08-01' '2020-09-01'
 '2020-10-01' '2020-11-01' '2020-12-01' '2021-01-01' '2021-02-01'
 '2021-03-01' '2021-04-01' '2021-05-01' '2021-06-01' '2021-07-01'
 '2021-08-01' '2021-09-01' '2021-10-01' '2021-11-01' '2021-12-01'
 '2022-01-01' '2022-02-01' '2022-03-01' '2022-04-01' '2022-05-01'
 '2022-06-01' '2022-07-01' '2022-08-01' '2022-09-01' '2022-10-01'
 '2022-11-01' '2022-12-01' '2024-01-01' '2024-02-01' '2024-03-01'
 '2024-04-01' '2024-05-01' '2024-06-01' '2024-07-01' '2024-08-01'
 '2024-09-01' '2024-10-01' '2024-11-01' '2024-12-01' '2025-01-01']


Unique values for Town:
['ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK' 'BUKIT MERAH' 'BUKIT PANJANG'
 'BUKIT TIMAH' 'CENTRAL AREA' 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG'
 'HOUGANG' 'JURONG EAST' 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE'
 'PASIR RIS' 'PUNGGOL' 'QUEENSTOWN' 'SEMBAWANG' 'SENGKANG' 'SERANGOON'
 'TAMPINES' 'TOA PAYOH' 'WOODLANDS' 'YISHUN']


Unique values for Flat_Type:
['2 Room' '3 Room' '4 Room' '5 Room' 'Executive' '1 Room'
 'Multi-Generation']


Unique values for Block:
['406' '108' '602' ... '609B' '456B' '608B']


Unique values for Street_Name:
['ANG MO KIO AVE 10' 'ANG MO KIO AVE 4' 'ANG MO KIO AVE 5'
 'ANG MO KIO AVE 1' 'ANG MO KIO AVE 3' 'ANG MO KIO AVE 9'
 'ANG MO KIO AVE 8' 'ANG MO KIO AVE 6' 'ANG MO KIO ST 52'
 'BEDOK NTH AVE 4' 'BEDOK NTH AVE 1' 'BEDOK NTH RD' 'BEDOK STH AVE 1'
 'BEDOK RESERVOIR RD' 'CHAI CHEE ST' 'BEDOK NTH ST 3' 'BEDOK STH RD'
 'CHAI CHEE AVE' 'NEW UPP CHANGI RD' 'CHAI CHEE DR' 'BEDOK STH AVE 2'
 'BEDOK NTH AVE 3' 'BEDOK RESERVOIR VIEW' 'CHAI CHEE RD' 'LENGKONG TIGA'
 'BEDOK CTRL' 'JLN DAMAI' 'BEDOK NTH AVE 2' 'BEDOK STH AVE 3'
 'SIN MING RD' 'SIN MING AVE' 'BISHAN ST 12' 'BISHAN ST 13' 'BISHAN ST 22'
 'BISHAN ST 24' 'BISHAN ST 23' 'BRIGHT HILL DR' 'SHUNFU RD'
 'BT BATOK ST 34' 'BT BATOK ST 51' 'BT BATOK ST 11' 'BT BATOK ST 52'
 'BT BATOK ST 21' 'BT BATOK EAST AVE 5' 'BT BATOK WEST AVE 6'
 'BT BATOK CTRL' 'BT BATOK WEST AVE 8' 'BT BATOK EAST AVE 4'
 'BT BATOK ST 31' 'BT BATOK ST 25' 'BT BATOK EAST AVE 3'
 'BT BATOK WEST AVE 5' 'BT BATOK ST 24' 'JLN BT HO SWEE'
 'TELOK BLANGAH DR' 'BEO CRES' 'TELOK BLANGAH CRES' 'TAMAN HO SWEE'
 'TELOK BLANGAH RISE' 'TELOK BLANGAH WAY' 'JLN BT MERAH' 'JLN KLINIK'
 'TELOK BLANGAH HTS' 'BT MERAH VIEW' 'INDUS RD' 'BT MERAH LANE 1'
 'TELOK BLANGAH ST 31' 'MOH GUAN TER' 'HAVELOCK RD' 'HENDERSON CRES'
 'BT PURMEI RD' 'KIM TIAN RD' 'DEPOT RD' 'JLN RUMAH TINGGI' 'DELTA AVE'
 'JLN MEMBINA' 'REDHILL RD' 'LENGKOK BAHRU' 'ZION RD' 'PETIR RD'
 'PENDING RD' 'BANGKIT RD' 'SEGAR RD' 'JELAPANG RD' 'SENJA RD' 'FAJAR RD'
 'BT PANJANG RING RD' 'SENJA LINK' 'LOMPANG RD' 'GANGSA RD' 'TOH YI DR'
 'FARRER RD' 'JLN KUKOH' 'ROWELL RD' 'WATERLOO ST' 'NEW MKT RD'
 'TG PAGAR PLAZA' 'QUEEN ST' 'BAIN ST' 'CANTONMENT RD' 'TECK WHYE LANE'
 'CHOA CHU KANG AVE 4' 'CHOA CHU KANG AVE 3' 'CHOA CHU KANG CRES'
 'CHOA CHU KANG ST 54' 'CHOA CHU KANG CTRL' 'JLN TECK WHYE'
 'CHOA CHU KANG ST 62' 'CHOA CHU KANG NTH 6' 'CHOA CHU KANG DR'
 'CHOA CHU KANG NTH 5' 'CHOA CHU KANG ST 52' 'CHOA CHU KANG AVE 2'
 'CLEMENTI WEST ST 2' 'WEST COAST RD' 'CLEMENTI WEST ST 1'
 'CLEMENTI AVE 4' 'CLEMENTI AVE 5' 'CLEMENTI ST 11' 'CLEMENTI AVE 2'
 'CLEMENTI AVE 3' 'CLEMENTI AVE 1' "C'WEALTH AVE WEST" 'CIRCUIT RD'
 'BALAM RD' 'MACPHERSON LANE' 'EUNOS CRES' 'UBI AVE 1' 'HAIG RD'
 'OLD AIRPORT RD' 'GEYLANG EAST AVE 1' 'SIMS DR' 'PIPIT RD'
 'GEYLANG EAST CTRL' 'EUNOS RD 5' 'CASSIA CRES' 'BUANGKOK CRES'
 'HOUGANG AVE 3' 'HOUGANG AVE 8' 'HOUGANG AVE 1' 'HOUGANG AVE 5'
 'HOUGANG ST 61' 'HOUGANG ST 11' 'HOUGANG AVE 7' 'HOUGANG AVE 4'
 'HOUGANG AVE 2' 'LOR AH SOO' 'HOUGANG ST 92' 'HOUGANG ST 52'
 'HOUGANG AVE 10' 'HOUGANG ST 51' 'UPP SERANGOON RD' 'HOUGANG CTRL'
 'HOUGANG ST 91' 'BUANGKOK LINK' 'HOUGANG ST 31' 'PANDAN GDNS'
 'TEBAN GDNS RD' 'JURONG EAST ST 24' 'JURONG EAST ST 21'
 'JURONG EAST AVE 1' 'JURONG EAST ST 13' 'JURONG EAST ST 32' 'TOH GUAN RD'
 'JURONG WEST ST 93' 'BOON LAY AVE' 'HO CHING RD' 'BOON LAY DR'
 'TAO CHING RD' 'JURONG WEST ST 91' 'JURONG WEST ST 42'
 'JURONG WEST ST 92' 'BOON LAY PL' 'JURONG WEST ST 52' 'TAH CHING RD'
 'JURONG WEST ST 81' 'YUNG SHENG RD' 'JURONG WEST ST 25'
 'JURONG WEST ST 73' 'JURONG WEST ST 72' 'JURONG WEST AVE 3'
 'JURONG WEST AVE 5' 'YUNG HO RD' 'JURONG WEST ST 74' 'JURONG WEST AVE 1'
 'JURONG WEST ST 71' 'JURONG WEST ST 61' 'JURONG WEST ST 65'
 'JURONG WEST CTRL 1' 'JURONG WEST ST 64' 'JURONG WEST ST 62'
 'JURONG WEST ST 41' 'JURONG WEST ST 24' 'JLN BATU' 'JLN BAHAGIA'
 'LOR LIMAU' "ST. GEORGE'S RD" 'KALLANG BAHRU' 'DORSET RD' 'GEYLANG BAHRU'
 'BENDEMEER RD' 'WHAMPOA DR' 'UPP BOON KENG RD' 'RACE COURSE RD' 'OWEN RD'
 'NTH BRIDGE RD' 'TOWNER RD' 'FARRER PK RD' 'MCNAIR RD' 'JLN TENTERAM'
 'BOON KENG RD' 'JLN RAJAH' 'MARINE DR' 'MARINE CRES' 'MARINE TER'
 'CHANGI VILLAGE RD' 'PASIR RIS ST 71' 'PASIR RIS ST 11' 'PASIR RIS DR 3'
 'PASIR RIS DR 6' 'PASIR RIS ST 21' 'PASIR RIS DR 4' 'PASIR RIS ST 53'
 'PASIR RIS DR 10' 'PASIR RIS ST 52' 'PASIR RIS ST 12' 'PASIR RIS ST 51'
 'PASIR RIS ST 72' 'PASIR RIS DR 1' 'PUNGGOL FIELD' 'EDGEDALE PLAINS'
 'PUNGGOL FIELD WALK' 'EDGEFIELD PLAINS' 'PUNGGOL RD' 'PUNGGOL EAST'
 'PUNGGOL DR' 'PUNGGOL CTRL' 'PUNGGOL PL' "C'WEALTH CL" 'STIRLING RD'
 'MEI LING ST' "C'WEALTH CRES" "C'WEALTH DR" 'GHIM MOH RD' 'DOVER RD'
 'HOLLAND AVE' 'STRATHMORE AVE' 'HOLLAND DR' 'GHIM MOH LINK'
 'CLARENCE LANE' 'DOVER CRES' 'SEMBAWANG DR' 'SEMBAWANG CL' 'MONTREAL DR'
 'ADMIRALTY LINK' 'ADMIRALTY DR' 'SEMBAWANG CRES' 'CANBERRA RD'
 'FERNVALE RD' 'COMPASSVALE LANE' 'ANCHORVALE RD' 'RIVERVALE DR'
 'RIVERVALE CRES' 'SENGKANG EAST WAY' 'RIVERVALE ST' 'RIVERVALE WALK'
 'FERNVALE LANE' 'ANCHORVALE LINK' 'COMPASSVALE RD' 'COMPASSVALE CRES'
 'JLN KAYU' 'COMPASSVALE WALK' 'COMPASSVALE DR' 'COMPASSVALE LINK'
 'COMPASSVALE BOW' 'SENGKANG CTRL' 'ANCHORVALE LANE' 'ANCHORVALE DR'
 'COMPASSVALE ST' 'SERANGOON AVE 4' 'LOR LEW LIAN' 'SERANGOON AVE 2'
 'SERANGOON NTH AVE 1' 'SERANGOON AVE 1' 'SERANGOON CTRL'
 'SERANGOON NTH AVE 4' 'TAMPINES ST 22' 'TAMPINES ST 41' 'TAMPINES AVE 4'
 'TAMPINES ST 44' 'TAMPINES ST 81' 'TAMPINES ST 11' 'TAMPINES ST 23'
 'TAMPINES ST 91' 'TAMPINES ST 21' 'TAMPINES ST 83' 'TAMPINES ST 42'
 'TAMPINES ST 71' 'TAMPINES ST 45' 'TAMPINES ST 34' 'TAMPINES ST 82'
 'TAMPINES AVE 9' 'SIMEI ST 1' 'SIMEI ST 5' 'TAMPINES ST 72'
 'TAMPINES ST 84' 'SIMEI ST 2' 'TAMPINES CTRL 7' 'TAMPINES ST 33'
 'TAMPINES ST 32' 'TAMPINES AVE 5' 'LOR 5 TOA PAYOH' 'LOR 7 TOA PAYOH'
 'LOR 4 TOA PAYOH' 'LOR 1 TOA PAYOH' 'TOA PAYOH EAST' 'POTONG PASIR AVE 1'
 'TOA PAYOH NTH' 'LOR 8 TOA PAYOH' 'LOR 3 TOA PAYOH' 'POTONG PASIR AVE 3'
 'JOO SENG RD' 'LOR 2 TOA PAYOH' 'TOA PAYOH CTRL' 'MARSILING DR'
 'WOODLANDS ST 13' 'WOODLANDS DR 52' 'WOODLANDS ST 41' 'MARSILING CRES'
 'WOODLANDS ST 83' 'WOODLANDS CIRCLE' 'WOODLANDS DR 40' 'WOODLANDS ST 31'
 'WOODLANDS DR 16' 'WOODLANDS ST 81' 'WOODLANDS RING RD' 'WOODLANDS DR 53'
 'WOODLANDS DR 62' 'WOODLANDS DR 70' 'WOODLANDS DR 42' 'WOODLANDS DR 50'
 'WOODLANDS AVE 6' 'WOODLANDS DR 14' 'WOODLANDS AVE 1' 'WOODLANDS AVE 5'
 'MARSILING RISE' 'WOODLANDS CRES' 'WOODLANDS DR 73' 'WOODLANDS DR 44'
 'YISHUN RING RD' 'YISHUN AVE 3' 'YISHUN ST 11' 'YISHUN AVE 4'
 'YISHUN ST 22' 'YISHUN ST 71' 'YISHUN AVE 5' 'YISHUN ST 21'
 'YISHUN ST 41' 'YISHUN ST 61' 'YISHUN AVE 6' 'YISHUN AVE 11'
 'YISHUN CTRL' 'YISHUN ST 81' 'YISHUN ST 72' 'YISHUN AVE 2'
 'ANG MO KIO ST 32' 'ANG MO KIO ST 31' 'BEDOK NTH ST 2' 'BEDOK NTH ST 1'
 'JLN TENAGA' 'BEDOK NTH ST 4' 'BT BATOK WEST AVE 4' 'CANTONMENT CL'
 'BOON TIONG RD' 'SPOTTISWOODE PK RD' 'REDHILL CL' 'KIM TIAN PL'
 'CASHEW RD' "QUEEN'S RD" 'CHANDER RD' 'KELANTAN RD' 'SAGO LANE'
 'UPP CROSS ST' 'CHIN SWEE RD' 'SMITH ST' 'TECK WHYE AVE'
 'CHOA CHU KANG ST 51' 'CHOA CHU KANG AVE 5' 'CHOA CHU KANG AVE 1'
 'WEST COAST DR' 'PAYA LEBAR WAY' 'ALJUNIED CRES' 'JOO CHIAT RD' 'PINE CL'
 'HOUGANG ST 22' 'HOUGANG AVE 9' 'HOUGANG AVE 6' 'HOUGANG ST 21'
 'JURONG WEST ST 75' 'KANG CHING RD' 'KG KAYU RD' 'CRAWFORD LANE'
 'WHAMPOA WEST' 'BEACH RD' 'CAMBRIDGE RD' "ST. GEORGE'S LANE"
 'JELLICOE RD' 'ELIAS RD' 'HOLLAND CL' 'TANGLIN HALT RD' "C'WEALTH AVE"
 'WELLINGTON CIRCLE' 'CANBERRA LINK' 'SENGKANG WEST AVE'
 'SENGKANG EAST RD' 'SERANGOON CTRL DR' 'SERANGOON AVE 3'
 'SERANGOON NTH AVE 3' 'TAMPINES AVE 8' 'TAMPINES ST 24' 'TAMPINES ST 12'
 'SIMEI LANE' 'SIMEI ST 4' 'LOR 6 TOA PAYOH' 'KIM KEAT LINK'
 'MARSILING LANE' 'WOODLANDS ST 82' 'WOODLANDS DR 60' 'WOODLANDS AVE 3'
 'WOODLANDS DR 75' 'WOODLANDS AVE 4' 'WOODLANDS ST 32' 'YISHUN AVE 7'
 'ANG MO KIO ST 11' 'BISHAN ST 11' 'BT BATOK WEST AVE 2' 'BT BATOK ST 32'
 'BT BATOK ST 33' 'BT BATOK ST 22' 'BT BATOK WEST AVE 7' 'HOY FATT RD'
 'SILAT AVE' 'EVERTON PK' 'BT MERAH CTRL' 'JELEBU RD' 'EMPRESS RD'
 'VEERASAMY RD' 'CHOA CHU KANG ST 64' 'CHOA CHU KANG ST 53'
 'CHOA CHU KANG NTH 7' 'CLEMENTI AVE 6' 'CLEMENTI ST 13' 'GEYLANG SERAI'
 'JLN TIGA' 'ALJUNIED RD' 'YUNG LOH RD' 'YUNG AN RD' "JLN MA'MOR"
 'WHAMPOA RD' 'LOR 3 GEYLANG' 'PASIR RIS ST 13' "QUEEN'S CL"
 'DOVER CL EAST' 'SEMBAWANG VISTA' 'TAMPINES ST 43' 'SIMEI RD'
 'KIM KEAT AVE' 'UPP ALJUNIED LANE' 'POTONG PASIR AVE 2' 'WOODLANDS DR 72'
 'MARSILING RD' 'WOODLANDS DR 71' 'YISHUN AVE 9' 'YISHUN ST 20'
 'ANG MO KIO ST 21' 'TIONG BAHRU RD' 'KLANG LANE' 'CHOA CHU KANG LOOP'
 'CLEMENTI ST 14' 'SIMS PL' 'JURONG EAST ST 31' 'YUAN CHING RD'
 'CORPORATION DR' 'YUNG PING RD' 'WHAMPOA STH' 'TESSENSOHN RD' 'JLN DUSUN'
 'QUEENSWAY' 'FERNVALE LINK' 'KIM PONG RD' 'KIM CHENG ST' 'SAUJANA RD'
 'BUFFALO RD' 'CLEMENTI ST 12' 'DAKOTA CRES' 'JURONG WEST ST 51'
 'FRENCH RD' 'GLOUCESTER RD' 'KG ARANG RD' 'MOULMEIN RD' 'KENT RD'
 'AH HOOD RD' 'SERANGOON NTH AVE 2' 'TAMPINES CTRL 1' 'TAMPINES AVE 7'
 'LOR 1A TOA PAYOH' 'WOODLANDS AVE 9' 'YISHUN CTRL 1' 'LOWER DELTA RD'
 'JLN DUA' 'WOODLANDS ST 11' 'ANG MO KIO AVE 2' 'SELEGIE RD' 'SIMS AVE'
 'REDHILL LANE' "KING GEORGE'S AVE" 'PASIR RIS ST 41' 'PUNGGOL WALK'
 'LIM LIAK ST' 'JLN BERSEH' 'SENGKANG WEST WAY' 'BUANGKOK GREEN'
 'SEMBAWANG WAY' 'PUNGGOL WAY' 'YISHUN ST 31' 'TECK WHYE CRES'
 'KRETA AYER RD' 'MONTREAL LINK' 'UPP SERANGOON CRES' 'SUMANG LINK'
 'SENGKANG EAST AVE' 'YISHUN AVE 1' 'ANCHORVALE CRES' 'YUNG KUANG RD'
 'ANCHORVALE ST' 'TAMPINES CTRL 8' 'YISHUN ST 51' 'UPP SERANGOON VIEW'
 'TAMPINES AVE 1' 'BEDOK RESERVOIR CRES' 'ANG MO KIO ST 61' 'DAWSON RD'
 'FERNVALE ST' 'SENG POH RD' 'HOUGANG ST 32' 'TAMPINES ST 86'
 'HENDERSON RD' 'SUMANG WALK' 'CHOA CHU KANG AVE 7' 'KEAT HONG CL'
 'JURONG WEST CTRL 3' 'KEAT HONG LINK' 'ALJUNIED AVE 2' 'CANBERRA CRES'
 'SUMANG LANE' 'CANBERRA ST' 'ANG MO KIO ST 44' 'WOODLANDS RISE'
 'CANBERRA WALK' 'ANG MO KIO ST 51' 'GEYLANG EAST AVE 2'
 'BT BATOK EAST AVE 6' 'BT BATOK WEST AVE 9' 'MARINE PARADE CTRL'
 'TAMPINES ST 61' 'YISHUN ST 43' 'SENGKANG WEST RD' 'BIDADARI PK DR'
 'CANBERRA VIEW' 'TAMPINES NTH DR 1' 'ALKAFF CRES']


Unique values for Floor_Area_SQM:
[ 44.   67.   68.   73.   74.   82.   81.   92.   91.   94.   98.   97.
  99.   90.  117.  119.  118.  112.  121.  147.   45.   59.   63.   70.
  60.   65.   75.   66.   84.   93.  104.  105.  120.  130.  132.  115.
 122.  137.  139.  143.  146.  145.  141.   64.   83.  108.   95.  123.
  69.  103.  102.  100.  107.   86.  101.  150.  155.  144.   34.   51.
  54.   58.   76.   88.   77.  106.   85.   89.  134.  110.  111.  151.
  55.  113.  126.  124.  131.  142.   42.   46.   56.   61.   57.   72.
 109.   47.   96.  116.  128.  140.  148.  156.  157.   71.   52.   79.
 129.  133.  125.   48.   62.  114.   87.  127.  161.  165.   50.  153.
  43.  138.  164.  163.  136.  149.   80.  154.  152.   37.   78.  135.
 170.  192.  182.   31.   49.   53.   60.3 176.  177.  189.   40.  166.
 184.  173.  169.  181.  158.   41.  159.  215.  174.   63.1 179.  162.
  83.1 172.  168.  160.  249.  185.   38.  178.  171.  237.  183.  190.
 175.  188.  187.   35.  186.   39.  243.  222.  167.  210.  199.  241.
 180.  208.  189.4 366.7  90.8  89.7  88.4  83.3 103.6]


Unique values for Flat_Model:
['Improved' 'New Generation' 'DBSS' 'Standard' 'Apartment' 'Simplified'
 'Model A' 'Premium Apartment' 'Adjoined flat' 'Model A-Maisonette'
 'Maisonette' 'Type S1' 'Type S2' 'Model A2' 'Terrace'
 'Improved-Maisonette' 'Premium Maisonette' 'Multi Generation'
 'Premium Apartment Loft' '2-room' '3Gen']


Unique values for Lease_Commence_Date:
[1979 1978 1980 1981 1976 1977 2011 2012 1996 1988 1985 1986 1974 1984
 1983 1987 1982 2000 2001 2005 1989 2010 1972 1993 1973 1992 1990 1998
 2004 1997 1971 1975 1970 1969 2013 2008 1999 2003 2002 1995 2006 1967
 1968 2007 1991 1966 2009 1994 2014 2015 2016 2017 2018 2019 2020 2021]


Unique values for Remaining_Lease:
['61 years 04 months' '60 years 07 months' '62 years 05 months'
 '62 years 01 month' '63 years' '61 years 06 months' '58 years 04 months'
 '59 years 08 months' '59 years 06 months' '60 years' '62 years 08 months'
 '61 years' '60 years 10 months' '59 years 03 months' '61 years 05 months'
 '60 years 04 months' '62 years' '60 years 03 months' '63 years 09 months'
 '61 years 01 month' '61 years 10 months' '58 years 06 months'
 '59 years 04 months' '62 years 11 months' '60 years 08 months'
 '93 years 08 months' '93 years 07 months' '60 years 01 month'
 '94 years 08 months' '78 years 04 months' '60 years 06 months'
 '62 years 06 months' '58 years' '70 years 08 months' '63 years 04 months'
 '63 years 06 months' '67 years 07 months' '61 years 07 months'
 '68 years 02 months' '68 years 03 months' '56 years' '67 years 09 months'
 '67 years 05 months' '63 years 07 months' '66 years 03 months'
 '65 years 04 months' '69 years 05 months' '59 years 11 months'
 '60 years 05 months' '69 years 02 months' '69 years 03 months'
 '68 years 10 months' '62 years 10 months' '64 years 04 months'
 '66 years 01 month' '83 years' '83 years 01 month' '87 years 11 months'
 '71 years 02 months' '92 years 04 months' '54 years 06 months'
 '78 years 06 months' '82 years 11 months' '75 years 04 months'
 '66 years 07 months' '66 years 06 months' '75 years 11 months'
 '68 years 04 months' '55 years 09 months' '68 years 07 months'
 '67 years 11 months' '68 years' '69 years 01 month' '69 years 11 months'
 '74 years 06 months' '74 years 04 months' '69 years 06 months'
 '72 years 03 months' '67 years 02 months' '66 years 05 months'
 '69 years 04 months' '66 years 11 months' '66 years 10 months' '80 years'
 '69 years 08 months' '66 years 09 months' '67 years 10 months'
 '80 years 01 month' '67 years 06 months' '86 years 08 months'
 '71 years 06 months' '71 years 03 months' '67 years 04 months'
 '86 years 11 months' '86 years 10 months' '79 years 05 months'
 '65 years 10 months' '67 years 03 months' '79 years 11 months'
 '53 years 06 months' '57 years 02 months' '52 years 01 month'
 '58 years 03 months' '51 years 06 months' '58 years 08 months'
 '56 years 02 months' '53 years 08 months' '64 years 08 months'
 '55 years 06 months' '95 years 07 months' '55 years 01 month' '55 years'
 '95 years 04 months' '52 years 06 months' '57 years 04 months' '57 years'
 '82 years 06 months' '67 years 08 months' '79 years' '95 years 08 months'
 '90 years 11 months' '87 years 10 months' '82 years 08 months'
 '68 years 06 months' '81 years 02 months' '56 years 05 months'
 '65 years 05 months' '70 years 09 months' '71 years 01 month'
 '94 years 10 months' '80 years 03 months' '83 years 11 months'
 '70 years 10 months' '81 years 01 month' '70 years 06 months' '85 years'
 '81 years 05 months' '80 years 07 months' '80 years 10 months'
 '83 years 10 months' '86 years 09 months' '79 years 09 months'
 '84 years 10 months' '80 years 11 months' '70 years 11 months'
 '84 years 04 months' '83 years 09 months' '81 years 04 months'
 '79 years 07 months' '81 years 03 months' '70 years 01 month'
 '70 years 05 months' '70 years 07 months' '56 years 03 months' '64 years'
 '68 years 09 months' '65 years 03 months' '59 years 01 month'
 '61 years 02 months' '62 years 04 months' '93 years' '71 years 08 months'
 '82 years 03 months' '71 years 04 months' '75 years 05 months'
 '85 years 01 month' '81 years 09 months' '72 years 08 months'
 '75 years 06 months' '78 years 03 months' '82 years 01 month'
 '84 years 03 months' '77 years 05 months' '77 years 07 months'
 '85 years 04 months' '79 years 04 months' '78 years 09 months'
 '81 years 06 months' '78 years' '63 years 08 months' '62 years 07 months'
 '65 years 09 months' '60 years 02 months' '88 years 10 months' '53 years'
 '49 years' '51 years' '50 years 05 months' '54 years 11 months'
 '59 years 05 months' '82 years 04 months' '65 years 07 months' '89 years'
 '72 years 05 months' '78 years 05 months' '58 years 07 months'
 '80 years 05 months' '94 years 04 months' '69 years' '65 years'
 '65 years 02 months' '71 years 07 months' '75 years 03 months'
 '65 years 01 month' '79 years 10 months' '73 years 04 months'
 '72 years 04 months' '74 years 08 months' '74 years 09 months'
 '80 years 02 months' '81 years 10 months' '86 years 05 months'
 '85 years 06 months' '79 years 01 month' '80 years 06 months'
 '74 years 11 months' '68 years 08 months' '68 years 05 months'
 '48 years 09 months' '63 years 05 months' '65 years 06 months'
 '66 years 04 months' '67 years 01 month' '95 years 09 months'
 '80 years 09 months' '82 years 02 months' '61 years 09 months'
 '90 years 07 months' '57 years 09 months' '54 years' '53 years 05 months'
 '71 years' '58 years 10 months' '92 years 03 months' '66 years 02 months'
 '64 years 03 months' '72 years 02 months' '83 years 04 months'
 '78 years 07 months' '84 years 01 month' '78 years 08 months'
 '72 years 10 months' '71 years 11 months' '76 years' '78 years 02 months'
 '71 years 05 months' '72 years 07 months' '83 years 03 months' '67 years'
 '72 years 11 months' '90 years 08 months' '84 years 11 months'
 '84 years 09 months' '82 years 07 months' '66 years 08 months'
 '88 years 04 months' '85 years 10 months' '90 years 05 months'
 '90 years 06 months' '83 years 05 months' '84 years 02 months'
 '82 years 09 months' '82 years 05 months' '73 years' '84 years 06 months'
 '83 years 07 months' '52 years 05 months' '56 years 08 months'
 '56 years 06 months' '68 years 01 month' '64 years 10 months'
 '57 years 01 month' '86 years 06 months' '88 years 07 months'
 '93 years 11 months' '58 years 02 months' '78 years 10 months'
 '77 years 08 months' '75 years 07 months' '77 years 09 months'
 '75 years 08 months' '77 years 04 months' '85 years 07 months' '95 years'
 '89 years 07 months' '91 years 02 months' '94 years 11 months'
 '85 years 11 months' '94 years 06 months' '94 years 07 months'
 '95 years 01 month' '95 years 02 months' '95 years 06 months'
 '93 years 02 months' '86 years 03 months' '87 years' '86 years 04 months'
 '85 years 03 months' '86 years 02 months' '85 years 09 months' '52 years'
 '49 years 01 month' '57 years 06 months' '56 years 04 months'
 '95 years 03 months' '88 years 11 months' '59 years' '85 years 08 months'
 '92 years 07 months' '83 years 06 months' '83 years 02 months'
 '81 years 11 months' '84 years' '94 years 02 months' '94 years 01 month'
 '85 years 05 months' '85 years 02 months' '83 years 08 months'
 '95 years 10 months' '93 years 10 months' '81 years' '95 years 05 months'
 '88 years 01 month' '94 years 09 months' '92 years 02 months'
 '90 years 04 months' '91 years 11 months' '91 years 07 months'
 '84 years 08 months' '84 years 05 months' '71 years 10 months'
 '74 years 10 months' '69 years 09 months' '79 years 02 months'
 '64 years 09 months' '79 years 03 months' '79 years 06 months'
 '79 years 08 months' '90 years' '69 years 10 months' '77 years 10 months'

In [7]:
label_encoder = LabelEncoder()
scaler = StandardScaler()
# Assuming your dataframe is named 'df'
# 1. **Month**: Split into Year, Month, and Date columns
df['Month'] = pd.to_datetime(df['Month'])

# Extract year, month, and day
df['Year'] = df['Month'].dt.year
df['Month_Num'] = df['Month'].dt.month
df['Day'] = df['Month'].dt.day

# Drop the original 'Month' column if you don't need it anymore
df = df.drop(columns=['Month'])


# 2. **Town**: Transform Town into categorical numerical values

# Fit and transform the 'Town' column
df['Town'] = label_encoder.fit_transform(df['Town'])
mapping = {index: label for index, label in enumerate(label_encoder.classes_)}
print("Mapping:", mapping)

# 3. **Flat_Type**: One-hot encoding for Flat_Type
df['Flat_Type'] = label_encoder.fit_transform(df['Flat_Type'])
print("\n\n")
mapping = {index: label for index, label in enumerate(label_encoder.classes_)}
print("Mapping:", mapping)

# 4. **Block**: Convert to numeric label encoding
# Separate numeric and alphabetical components
df['Block_Num'] = df['Block'].str.extract(r'(\d+)', expand=False).astype(int)  # Extract numeric part
df['Block_Alpha'] = df['Block'].str.extract(r'([A-Za-z]+)', expand=False).fillna('0')  # Extract alphabets, fill '0' for missing

# Label encode the alphabetical column
df['Block_Alpha_Encoded'] = label_encoder.fit_transform(df['Block_Alpha'])

# Drop the original Block column (optional)
df.drop('Block', axis=1, inplace=True)
df.drop('Block_Alpha', axis=1, inplace=True)
print("\n\n")
mapping = {index: label for index, label in enumerate(label_encoder.classes_)}
print("Mapping:", mapping)

# 5. **Street_Name**: One-hot encoding for Street_Name
df['Street_Name_Encoded'] = label_encoder.fit_transform(df['Street_Name'])
df.drop('Street_Name', axis=1, inplace=True)
print("\n\n")
mapping = {index: label for index, label in enumerate(label_encoder.classes_)}
print("Mapping:", mapping)

# 7. **Floor_Area_SQM**: Convert to numeric
df['Floor_Area_SQM'] = pd.to_numeric(df['Floor_Area_SQM'])
df['Floor_Area_SQM_Scaled'] = scaler.fit_transform(df[['Floor_Area_SQM']])

# 8. **Flat_Model**: label encoding for Flat_Model
df['Flat_Model'] = label_encoder.fit_transform(df['Flat_Model'])
print("\n\n")
mapping = {index: label for index, label in enumerate(label_encoder.classes_)}
print("Mapping:", mapping)

# 9. **Lease_Commence_Date**: Extract useful features from the date
# need not touch

# # 10. **Remaining_Lease**: Extract remaining years and months
df['Remaining_Lease_Years'] = df['Remaining_Lease'].str.extract(r'(\d+)\s+years').astype(float)

# Extract months from the 'Remaining_Lease' column (if exists)
df['Remaining_Lease_Months'] = df['Remaining_Lease'].str.extract(r'(\d+)\s+months').astype(float)

# Fill missing months with 0
df['Remaining_Lease_Months'] = df['Remaining_Lease_Months'].fillna(0)

# Drop lease column
df.drop('Remaining_Lease', axis=1, inplace=True)

# Ensure both columns are numeric
df['Remaining_Lease_Years'] = df['Remaining_Lease_Years'].astype(int)
df['Remaining_Lease_Months'] = df['Remaining_Lease_Months'].astype(int)

# # 11. **Resale_Price**: Convert to numeric (target variable)
# df['Resale_Price'] = pd.to_numeric(df['Resale_Price'])
df['Resale_Price'] = pd.to_numeric(df['Resale_Price'])
df['Resale_Price_Scaled'] = scaler.fit_transform(df[['Resale_Price']])

# 12 ** Drop remaining years
df.drop('Remaining_Years', axis=1, inplace=True)


# 13. **Average_Storey**: Convert to numeric
df['Average_Storey'] = pd.to_numeric(df['Average_Storey'])



# Final output: transformed dataset

Mapping: {0: 'ANG MO KIO', 1: 'BEDOK', 2: 'BISHAN', 3: 'BUKIT BATOK', 4: 'BUKIT MERAH', 5: 'BUKIT PANJANG', 6: 'BUKIT TIMAH', 7: 'CENTRAL AREA', 8: 'CHOA CHU KANG', 9: 'CLEMENTI', 10: 'GEYLANG', 11: 'HOUGANG', 12: 'JURONG EAST', 13: 'JURONG WEST', 14: 'KALLANG/WHAMPOA', 15: 'MARINE PARADE', 16: 'PASIR RIS', 17: 'PUNGGOL', 18: 'QUEENSTOWN', 19: 'SEMBAWANG', 20: 'SENGKANG', 21: 'SERANGOON', 22: 'TAMPINES', 23: 'TOA PAYOH', 24: 'WOODLANDS', 25: 'YISHUN'}



Mapping: {0: '1 Room', 1: '2 Room', 2: '3 Room', 3: '4 Room', 4: '5 Room', 5: 'Executive', 6: 'Multi-Generation'}



Mapping: {0: '0', 1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E', 6: 'F', 7: 'G', 8: 'H', 9: 'J', 10: 'L', 11: 'M'}



Mapping: {0: 'ADMIRALTY DR', 1: 'ADMIRALTY LINK', 2: 'AH HOOD RD', 3: 'ALJUNIED AVE 2', 4: 'ALJUNIED CRES', 5: 'ALJUNIED RD', 6: 'ALKAFF CRES', 7: 'ANCHORVALE CRES', 8: 'ANCHORVALE DR', 9: 'ANCHORVALE LANE', 10: 'ANCHORVALE LINK', 11: 'ANCHORVALE RD', 12: 'ANCHORVALE ST', 13: 'ANG MO KIO AVE 1', 14: 'ANG MO KIO AVE 10', 15: 'ANG MO KIO AVE 2', 16: 'ANG MO KIO AVE 3', 17: 'ANG MO KIO AVE 4', 18: 'ANG MO KIO AVE 5', 19: 'ANG MO KIO AVE 6', 20: 'ANG MO KIO AVE 8', 21: 'ANG MO KIO AVE 9', 22: 'ANG MO KIO ST 11', 23: 'ANG MO KIO ST 21', 24: 'ANG MO KIO ST 31', 25: 'ANG MO KIO ST 32', 26: 'ANG MO KIO ST 44', 27: 'ANG MO KIO ST 51', 28: 'ANG MO KIO ST 52', 29: 'ANG MO KIO ST 61', 30: 'BAIN ST', 31: 'BALAM RD', 32: 'BANGKIT RD', 33: 'BEACH RD', 34: 'BEDOK CTRL', 35: 'BEDOK NTH AVE 1', 36: 'BEDOK NTH AVE 2', 37: 'BEDOK NTH AVE 3', 38: 'BEDOK NTH AVE 4', 39: 'BEDOK NTH RD', 40: 'BEDOK NTH ST 1', 41: 'BEDOK NTH ST 2', 42: 'BEDOK NTH ST 3', 43: 'BEDOK NTH ST 4', 44: 'BEDOK RESERVOIR CRES', 45: 'BEDOK RESERVOIR RD', 46: 'BEDOK RESERVOIR VIEW', 47: 'BEDOK STH AVE 1', 48: 'BEDOK STH AVE 2', 49: 'BEDOK STH AVE 3', 50: 'BEDOK STH RD', 51: 'BENDEMEER RD', 52: 'BEO CRES', 53: 'BIDADARI PK DR', 54: 'BISHAN ST 11', 55: 'BISHAN ST 12', 56: 'BISHAN ST 13', 57: 'BISHAN ST 22', 58: 'BISHAN ST 23', 59: 'BISHAN ST 24', 60: 'BOON KENG RD', 61: 'BOON LAY AVE', 62: 'BOON LAY DR', 63: 'BOON LAY PL', 64: 'BOON TIONG RD', 65: 'BRIGHT HILL DR', 66: 'BT BATOK CTRL', 67: 'BT BATOK EAST AVE 3', 68: 'BT BATOK EAST AVE 4', 69: 'BT BATOK EAST AVE 5', 70: 'BT BATOK EAST AVE 6', 71: 'BT BATOK ST 11', 72: 'BT BATOK ST 21', 73: 'BT BATOK ST 22', 74: 'BT BATOK ST 24', 75: 'BT BATOK ST 25', 76: 'BT BATOK ST 31', 77: 'BT BATOK ST 32', 78: 'BT BATOK ST 33', 79: 'BT BATOK ST 34', 80: 'BT BATOK ST 51', 81: 'BT BATOK ST 52', 82: 'BT BATOK WEST AVE 2', 83: 'BT BATOK WEST AVE 4', 84: 'BT BATOK WEST AVE 5', 85: 'BT BATOK WEST AVE 6', 86: 'BT BATOK WEST AVE 7', 87: 'BT BATOK WEST AVE 8', 88: 'BT BATOK WEST AVE 9', 89: 'BT MERAH CTRL', 90: 'BT MERAH LANE 1', 91: 'BT MERAH VIEW', 92: 'BT PANJANG RING RD', 93: 'BT PURMEI RD', 94: 'BUANGKOK CRES', 95: 'BUANGKOK GREEN', 96: 'BUANGKOK LINK', 97: 'BUFFALO RD', 98: "C'WEALTH AVE", 99: "C'WEALTH AVE WEST", 100: "C'WEALTH CL", 101: "C'WEALTH CRES", 102: "C'WEALTH DR", 103: 'CAMBRIDGE RD', 104: 'CANBERRA CRES', 105: 'CANBERRA LINK', 106: 'CANBERRA RD', 107: 'CANBERRA ST', 108: 'CANBERRA VIEW', 109: 'CANBERRA WALK', 110: 'CANTONMENT CL', 111: 'CANTONMENT RD', 112: 'CASHEW RD', 113: 'CASSIA CRES', 114: 'CHAI CHEE AVE', 115: 'CHAI CHEE DR', 116: 'CHAI CHEE RD', 117: 'CHAI CHEE ST', 118: 'CHANDER RD', 119: 'CHANGI VILLAGE RD', 120: 'CHIN SWEE RD', 121: 'CHOA CHU KANG AVE 1', 122: 'CHOA CHU KANG AVE 2', 123: 'CHOA CHU KANG AVE 3', 124: 'CHOA CHU KANG AVE 4', 125: 'CHOA CHU KANG AVE 5', 126: 'CHOA CHU KANG AVE 7', 127: 'CHOA CHU KANG CRES', 128: 'CHOA CHU KANG CTRL', 129: 'CHOA CHU KANG DR', 130: 'CHOA CHU KANG LOOP', 131: 'CHOA CHU KANG NTH 5', 132: 'CHOA CHU KANG NTH 6', 133: 'CHOA CHU KANG NTH 7', 134: 'CHOA CHU KANG ST 51', 135: 'CHOA CHU KANG ST 52', 136: 'CHOA CHU KANG ST 53', 137: 'CHOA CHU KANG ST 54', 138: 'CHOA CHU KANG ST 62', 139: 'CHOA CHU KANG ST 64', 140: 'CIRCUIT RD', 141: 'CLARENCE LANE', 142: 'CLEMENTI AVE 1', 143: 'CLEMENTI AVE 2', 144: 'CLEMENTI AVE 3', 145: 'CLEMENTI AVE 4', 146: 'CLEMENTI AVE 5', 147: 'CLEMENTI AVE 6', 148: 'CLEMENTI ST 11', 149: 'CLEMENTI ST 12', 150: 'CLEMENTI ST 13', 151: 'CLEMENTI ST 14', 152: 'CLEMENTI WEST ST 1', 153: 'CLEMENTI WEST ST 2', 154: 'COMPASSVALE BOW', 155: 'COMPASSVALE CRES', 156: 'COMPASSVALE DR', 157: 'COMPASSVALE LANE', 158: 'COMPASSVALE LINK', 159: 'COMPASSVALE RD', 160: 'COMPASSVALE ST', 161: 'COMPASSVALE WALK', 162: 'CORPORATION DR', 163: 'CRAWFORD LANE', 164: 'DAKOTA CRES', 165: 'DAWSON RD', 166: 'DELTA AVE', 167: 'DEPOT RD', 168: 'DORSET RD', 169: 'DOVER CL EAST', 170: 'DOVER CRES', 171: 'DOVER RD', 172: 'EDGEDALE PLAINS', 173: 'EDGEFIELD PLAINS', 174: 'ELIAS RD', 175: 'EMPRESS RD', 176: 'EUNOS CRES', 177: 'EUNOS RD 5', 178: 'EVERTON PK', 179: 'FAJAR RD', 180: 'FARRER PK RD', 181: 'FARRER RD', 182: 'FERNVALE LANE', 183: 'FERNVALE LINK', 184: 'FERNVALE RD', 185: 'FERNVALE ST', 186: 'FRENCH RD', 187: 'GANGSA RD', 188: 'GEYLANG BAHRU', 189: 'GEYLANG EAST AVE 1', 190: 'GEYLANG EAST AVE 2', 191: 'GEYLANG EAST CTRL', 192: 'GEYLANG SERAI', 193: 'GHIM MOH LINK', 194: 'GHIM MOH RD', 195: 'GLOUCESTER RD', 196: 'HAIG RD', 197: 'HAVELOCK RD', 198: 'HENDERSON CRES', 199: 'HENDERSON RD', 200: 'HO CHING RD', 201: 'HOLLAND AVE', 202: 'HOLLAND CL', 203: 'HOLLAND DR', 204: 'HOUGANG AVE 1', 205: 'HOUGANG AVE 10', 206: 'HOUGANG AVE 2', 207: 'HOUGANG AVE 3', 208: 'HOUGANG AVE 4', 209: 'HOUGANG AVE 5', 210: 'HOUGANG AVE 6', 211: 'HOUGANG AVE 7', 212: 'HOUGANG AVE 8', 213: 'HOUGANG AVE 9', 214: 'HOUGANG CTRL', 215: 'HOUGANG ST 11', 216: 'HOUGANG ST 21', 217: 'HOUGANG ST 22', 218: 'HOUGANG ST 31', 219: 'HOUGANG ST 32', 220: 'HOUGANG ST 51', 221: 'HOUGANG ST 52', 222: 'HOUGANG ST 61', 223: 'HOUGANG ST 91', 224: 'HOUGANG ST 92', 225: 'HOY FATT RD', 226: 'INDUS RD', 227: 'JELAPANG RD', 228: 'JELEBU RD', 229: 'JELLICOE RD', 230: 'JLN BAHAGIA', 231: 'JLN BATU', 232: 'JLN BERSEH', 233: 'JLN BT HO SWEE', 234: 'JLN BT MERAH', 235: 'JLN DAMAI', 236: 'JLN DUA', 237: 'JLN DUSUN', 238: 'JLN KAYU', 239: 'JLN KLINIK', 240: 'JLN KUKOH', 241: "JLN MA'MOR", 242: 'JLN MEMBINA', 243: 'JLN RAJAH', 244: 'JLN RUMAH TINGGI', 245: 'JLN TECK WHYE', 246: 'JLN TENAGA', 247: 'JLN TENTERAM', 248: 'JLN TIGA', 249: 'JOO CHIAT RD', 250: 'JOO SENG RD', 251: 'JURONG EAST AVE 1', 252: 'JURONG EAST ST 13', 253: 'JURONG EAST ST 21', 254: 'JURONG EAST ST 24', 255: 'JURONG EAST ST 31', 256: 'JURONG EAST ST 32', 257: 'JURONG WEST AVE 1', 258: 'JURONG WEST AVE 3', 259: 'JURONG WEST AVE 5', 260: 'JURONG WEST CTRL 1', 261: 'JURONG WEST CTRL 3', 262: 'JURONG WEST ST 24', 263: 'JURONG WEST ST 25', 264: 'JURONG WEST ST 41', 265: 'JURONG WEST ST 42', 266: 'JURONG WEST ST 51', 267: 'JURONG WEST ST 52', 268: 'JURONG WEST ST 61', 269: 'JURONG WEST ST 62', 270: 'JURONG WEST ST 64', 271: 'JURONG WEST ST 65', 272: 'JURONG WEST ST 71', 273: 'JURONG WEST ST 72', 274: 'JURONG WEST ST 73', 275: 'JURONG WEST ST 74', 276: 'JURONG WEST ST 75', 277: 'JURONG WEST ST 81', 278: 'JURONG WEST ST 91', 279: 'JURONG WEST ST 92', 280: 'JURONG WEST ST 93', 281: 'KALLANG BAHRU', 282: 'KANG CHING RD', 283: 'KEAT HONG CL', 284: 'KEAT HONG LINK', 285: 'KELANTAN RD', 286: 'KENT RD', 287: 'KG ARANG RD', 288: 'KG KAYU RD', 289: 'KIM CHENG ST', 290: 'KIM KEAT AVE', 291: 'KIM KEAT LINK', 292: 'KIM PONG RD', 293: 'KIM TIAN PL', 294: 'KIM TIAN RD', 295: "KING GEORGE'S AVE", 296: 'KLANG LANE', 297: 'KRETA AYER RD', 298: 'LENGKOK BAHRU', 299: 'LENGKONG TIGA', 300: 'LIM LIAK ST', 301: 'LOMPANG RD', 302: 'LOR 1 TOA PAYOH', 303: 'LOR 1A TOA PAYOH', 304: 'LOR 2 TOA PAYOH', 305: 'LOR 3 GEYLANG', 306: 'LOR 3 TOA PAYOH', 307: 'LOR 4 TOA PAYOH', 308: 'LOR 5 TOA PAYOH', 309: 'LOR 6 TOA PAYOH', 310: 'LOR 7 TOA PAYOH', 311: 'LOR 8 TOA PAYOH', 312: 'LOR AH SOO', 313: 'LOR LEW LIAN', 314: 'LOR LIMAU', 315: 'LOWER DELTA RD', 316: 'MACPHERSON LANE', 317: 'MARINE CRES', 318: 'MARINE DR', 319: 'MARINE PARADE CTRL', 320: 'MARINE TER', 321: 'MARSILING CRES', 322: 'MARSILING DR', 323: 'MARSILING LANE', 324: 'MARSILING RD', 325: 'MARSILING RISE', 326: 'MCNAIR RD', 327: 'MEI LING ST', 328: 'MOH GUAN TER', 329: 'MONTREAL DR', 330: 'MONTREAL LINK', 331: 'MOULMEIN RD', 332: 'NEW MKT RD', 333: 'NEW UPP CHANGI RD', 334: 'NTH BRIDGE RD', 335: 'OLD AIRPORT RD', 336: 'OWEN RD', 337: 'PANDAN GDNS', 338: 'PASIR RIS DR 1', 339: 'PASIR RIS DR 10', 340: 'PASIR RIS DR 3', 341: 'PASIR RIS DR 4', 342: 'PASIR RIS DR 6', 343: 'PASIR RIS ST 11', 344: 'PASIR RIS ST 12', 345: 'PASIR RIS ST 13', 346: 'PASIR RIS ST 21', 347: 'PASIR RIS ST 41', 348: 'PASIR RIS ST 51', 349: 'PASIR RIS ST 52', 350: 'PASIR RIS ST 53', 351: 'PASIR RIS ST 71', 352: 'PASIR RIS ST 72', 353: 'PAYA LEBAR WAY', 354: 'PENDING RD', 355: 'PETIR RD', 356: 'PINE CL', 357: 'PIPIT RD', 358: 'POTONG PASIR AVE 1', 359: 'POTONG PASIR AVE 2', 360: 'POTONG PASIR AVE 3', 361: 'PUNGGOL CTRL', 362: 'PUNGGOL DR', 363: 'PUNGGOL EAST', 364: 'PUNGGOL FIELD', 365: 'PUNGGOL FIELD WALK', 366: 'PUNGGOL PL', 367: 'PUNGGOL RD', 368: 'PUNGGOL WALK', 369: 'PUNGGOL WAY', 370: 'QUEEN ST', 371: "QUEEN'S CL", 372: "QUEEN'S RD", 373: 'QUEENSWAY', 374: 'RACE COURSE RD', 375: 'REDHILL CL', 376: 'REDHILL LANE', 377: 'REDHILL RD', 378: 'RIVERVALE CRES', 379: 'RIVERVALE DR', 380: 'RIVERVALE ST', 381: 'RIVERVALE WALK', 382: 'ROWELL RD', 383: 'SAGO LANE', 384: 'SAUJANA RD', 385: 'SEGAR RD', 386: 'SELEGIE RD', 387: 'SEMBAWANG CL', 388: 'SEMBAWANG CRES', 389: 'SEMBAWANG DR', 390: 'SEMBAWANG VISTA', 391: 'SEMBAWANG WAY', 392: 'SENG POH RD', 393: 'SENGKANG CTRL', 394: 'SENGKANG EAST AVE', 395: 'SENGKANG EAST RD', 396: 'SENGKANG EAST WAY', 397: 'SENGKANG WEST AVE', 398: 'SENGKANG WEST RD', 399: 'SENGKANG WEST WAY', 400: 'SENJA LINK', 401: 'SENJA RD', 402: 'SERANGOON AVE 1', 403: 'SERANGOON AVE 2', 404: 'SERANGOON AVE 3', 405: 'SERANGOON AVE 4', 406: 'SERANGOON CTRL', 407: 'SERANGOON CTRL DR', 408: 'SERANGOON NTH AVE 1', 409: 'SERANGOON NTH AVE 2', 410: 'SERANGOON NTH AVE 3', 411: 'SERANGOON NTH AVE 4', 412: 'SHUNFU RD', 413: 'SILAT AVE', 414: 'SIMEI LANE', 415: 'SIMEI RD', 416: 'SIMEI ST 1', 417: 'SIMEI ST 2', 418: 'SIMEI ST 4', 419: 'SIMEI ST 5', 420: 'SIMS AVE', 421: 'SIMS DR', 422: 'SIMS PL', 423: 'SIN MING AVE', 424: 'SIN MING RD', 425: 'SMITH ST', 426: 'SPOTTISWOODE PK RD', 427: "ST. GEORGE'S LANE", 428: "ST. GEORGE'S RD", 429: 'STIRLING RD', 430: 'STRATHMORE AVE', 431: 'SUMANG LANE', 432: 'SUMANG LINK', 433: 'SUMANG WALK', 434: 'TAH CHING RD', 435: 'TAMAN HO SWEE', 436: 'TAMPINES AVE 1', 437: 'TAMPINES AVE 4', 438: 'TAMPINES AVE 5', 439: 'TAMPINES AVE 7', 440: 'TAMPINES AVE 8', 441: 'TAMPINES AVE 9', 442: 'TAMPINES CTRL 1', 443: 'TAMPINES CTRL 7', 444: 'TAMPINES CTRL 8', 445: 'TAMPINES NTH DR 1', 446: 'TAMPINES ST 11', 447: 'TAMPINES ST 12', 448: 'TAMPINES ST 21', 449: 'TAMPINES ST 22', 450: 'TAMPINES ST 23', 451: 'TAMPINES ST 24', 452: 'TAMPINES ST 32', 453: 'TAMPINES ST 33', 454: 'TAMPINES ST 34', 455: 'TAMPINES ST 41', 456: 'TAMPINES ST 42', 457: 'TAMPINES ST 43', 458: 'TAMPINES ST 44', 459: 'TAMPINES ST 45', 460: 'TAMPINES ST 61', 461: 'TAMPINES ST 71', 462: 'TAMPINES ST 72', 463: 'TAMPINES ST 81', 464: 'TAMPINES ST 82', 465: 'TAMPINES ST 83', 466: 'TAMPINES ST 84', 467: 'TAMPINES ST 86', 468: 'TAMPINES ST 91', 469: 'TANGLIN HALT RD', 470: 'TAO CHING RD', 471: 'TEBAN GDNS RD', 472: 'TECK WHYE AVE', 473: 'TECK WHYE CRES', 474: 'TECK WHYE LANE', 475: 'TELOK BLANGAH CRES', 476: 'TELOK BLANGAH DR', 477: 'TELOK BLANGAH HTS', 478: 'TELOK BLANGAH RISE', 479: 'TELOK BLANGAH ST 31', 480: 'TELOK BLANGAH WAY', 481: 'TESSENSOHN RD', 482: 'TG PAGAR PLAZA', 483: 'TIONG BAHRU RD', 484: 'TOA PAYOH CTRL', 485: 'TOA PAYOH EAST', 486: 'TOA PAYOH NTH', 487: 'TOH GUAN RD', 488: 'TOH YI DR', 489: 'TOWNER RD', 490: 'UBI AVE 1', 491: 'UPP ALJUNIED LANE', 492: 'UPP BOON KENG RD', 493: 'UPP CROSS ST', 494: 'UPP SERANGOON CRES', 495: 'UPP SERANGOON RD', 496: 'UPP SERANGOON VIEW', 497: 'VEERASAMY RD', 498: 'WATERLOO ST', 499: 'WELLINGTON CIRCLE', 500: 'WEST COAST DR', 501: 'WEST COAST RD', 502: 'WHAMPOA DR', 503: 'WHAMPOA RD', 504: 'WHAMPOA STH', 505: 'WHAMPOA WEST', 506: 'WOODLANDS AVE 1', 507: 'WOODLANDS AVE 3', 508: 'WOODLANDS AVE 4', 509: 'WOODLANDS AVE 5', 510: 'WOODLANDS AVE 6', 511: 'WOODLANDS AVE 9', 512: 'WOODLANDS CIRCLE', 513: 'WOODLANDS CRES', 514: 'WOODLANDS DR 14', 515: 'WOODLANDS DR 16', 516: 'WOODLANDS DR 40', 517: 'WOODLANDS DR 42', 518: 'WOODLANDS DR 44', 519: 'WOODLANDS DR 50', 520: 'WOODLANDS DR 52', 521: 'WOODLANDS DR 53', 522: 'WOODLANDS DR 60', 523: 'WOODLANDS DR 62', 524: 'WOODLANDS DR 70', 525: 'WOODLANDS DR 71', 526: 'WOODLANDS DR 72', 527: 'WOODLANDS DR 73', 528: 'WOODLANDS DR 75', 529: 'WOODLANDS RING RD', 530: 'WOODLANDS RISE', 531: 'WOODLANDS ST 11', 532: 'WOODLANDS ST 13', 533: 'WOODLANDS ST 31', 534: 'WOODLANDS ST 32', 535: 'WOODLANDS ST 41', 536: 'WOODLANDS ST 81', 537: 'WOODLANDS ST 82', 538: 'WOODLANDS ST 83', 539: 'YISHUN AVE 1', 540: 'YISHUN AVE 11', 541: 'YISHUN AVE 2', 542: 'YISHUN AVE 3', 543: 'YISHUN AVE 4', 544: 'YISHUN AVE 5', 545: 'YISHUN AVE 6', 546: 'YISHUN AVE 7', 547: 'YISHUN AVE 9', 548: 'YISHUN CTRL', 549: 'YISHUN CTRL 1', 550: 'YISHUN RING RD', 551: 'YISHUN ST 11', 552: 'YISHUN ST 20', 553: 'YISHUN ST 21', 554: 'YISHUN ST 22', 555: 'YISHUN ST 31', 556: 'YISHUN ST 41', 557: 'YISHUN ST 43', 558: 'YISHUN ST 51', 559: 'YISHUN ST 61', 560: 'YISHUN ST 71', 561: 'YISHUN ST 72', 562: 'YISHUN ST 81', 563: 'YUAN CHING RD', 564: 'YUNG AN RD', 565: 'YUNG HO RD', 566: 'YUNG KUANG RD', 567: 'YUNG LOH RD', 568: 'YUNG PING RD', 569: 'YUNG SHENG RD', 570: 'ZION RD'}



Mapping: {0: '2-room', 1: '3Gen', 2: 'Adjoined flat', 3: 'Apartment', 4: 'DBSS', 5: 'Improved', 6: 'Improved-Maisonette', 7: 'Maisonette', 8: 'Model A', 9: 'Model A-Maisonette', 10: 'Model A2', 11: 'Multi Generation', 12: 'New Generation', 13: 'Premium Apartment', 14: 'Premium Apartment Loft', 15: 'Premium Maisonette', 16: 'Simplified', 17: 'Standard', 18: 'Terrace', 19: 'Type S1', 20: 'Type S2'}

In [8]:
df.head(60)

,Town,Flat_Type,Floor_Area_SQM,Flat_Model,Lease_Commence_Date,Resale_Price,Average_Storey,Year,Month_Num,Day,Block_Num,Block_Alpha_Encoded,Street_Name_Encoded,Floor_Area_SQM_Scaled,Remaining_Lease_Years,Remaining_Lease_Months,Resale_Price_Scaled
0,0,1,44.0,5,1979,232000.0,11.0,2017,1,1,406,0,14,-2.211704,61,4,-1.511449
1,0,2,67.0,12,1978,250000.0,2.0,2017,1,1,108,0,17,-1.257113,60,7,-1.409448
2,0,2,67.0,12,1980,262000.0,2.0,2017,1,1,602,0,18,-1.257113,62,5,-1.341447
3,0,2,68.0,12,1980,265000.0,5.0,2017,1,1,465,0,14,-1.215609,62,0,-1.324447
4,0,2,67.0,12,1980,265000.0,2.0,2017,1,1,601,0,18,-1.257113,62,5,-1.324447
5,0,2,68.0,12,1981,275000.0,2.0,2017,1,1,150,0,18,-1.215609,63,0,-1.267779
6,0,2,68.0,12,1979,280000.0,5.0,2017,1,1,447,0,14,-1.215609,61,6,-1.239445
7,0,2,67.0,12,1976,285000.0,5.0,2017,1,1,218,0,13,-1.257113,58,4,-1.211112
8,0,2,68.0,12,1979,285000.0,5.0,2017,1,1,447,0,14,-1.215609,61,6,-1.211112
9,0,2,67.0,12,1979,285000.0,2.0,2017,1,1,571,0,16,-1.257113,61,4,-1.211112
10,0,2,68.0,12,1980,288500.0,2.0,2017,1,1,534,0,14,-1.215609,62,0,-1.191278
11,0,2,67.0,12,1977,295000.0,11.0,2017,1,1,233,0,16,-1.257113,59,8,-1.154444
12,0,2,67.0,12,1977,295000.0,5.0,2017,1,1,235,0,16,-1.257113,59,8,-1.154444
13,0,2,67.0,12,1977,297000.0,8.0,2017,1,1,219,0,13,-1.257113,59,6,-1.143111
14,0,2,68.0,12,1980,298000.0,8.0,2017,1,1,536,0,14,-1.215609,62,0,-1.137444
15,0,2,67.0,12,1978,298000.0,5.0,2017,1,1,230,0,16,-1.257113,60,0,-1.137444
16,0,2,67.0,12,1979,300000.0,11.0,2017,1,1,570,0,16,-1.257113,61,4,-1.126110
17,0,2,68.0,12,1980,301000.0,5.0,2017,1,1,624,0,17,-1.215609,62,8,-1.120444
18,0,2,67.0,12,1979,306000.0,8.0,2017,1,1,441,0,14,-1.257113,61,0,-1.092110
19,0,2,68.0,12,1980,312000.0,5.0,2017,1,1,625,0,21,-1.215609,62,8,-1.058109
20,0,2,67.0,12,1978,312000.0,8.0,2017,1,1,119,0,16,-1.257113,60,10,-1.058109
21,0,2,73.0,12,1977,321000.0,5.0,2017,1,1,255,0,17,-1.008089,59,6,-1.007109
22,0,2,67.0,12,1979,325000.0,11.0,2017,1,1,432,0,14,-1.257113,61,0,-0.984442
23,0,2,67.0,12,1977,325000.0,2.0,2017,1,1,211,0,16,-1.257113,59,3,-0.984442
24,0,2,67.0,12,1979,328000.0,5.0,2017,1,1,584,0,16,-1.257113,61,5,-0.967441
25,0,2,74.0,12,1978,330000.0,8.0,2017,1,1,118,0,17,-0.966585,60,4,-0.956108
26,0,2,68.0,12,1981,330000.0,8.0,2017,1,1,333,0,13,-1.215609,63,0,-0.956108
27,0,2,73.0,12,1977,335000.0,11.0,2017,1,1,256,0,17,-1.008089,59,6,-0.927774
28,0,2,68.0,12,1981,338000.0,8.0,2017,1,1,330,0,13,-1.215609,63,0,-0.910774
29,0,2,82.0,12,1980,366000.0,11.0,2017,1,1,557,0,14,-0.634553,62,0,-0.752105
30,0,2,73.0,12,1978,373000.0,11.0,2017,1,1,302,0,16,-1.008089,60,3,-0.712438
31,0,2,82.0,12,1980,375000.0,8.0,2017,1,1,575,0,14,-0.634553,62,0,-0.701104
32,0,2,81.0,12,1980,390000.0,2.0,2017,1,1,509,0,20,-0.676057,62,5,-0.616103
33,0,3,92.0,12,1979,400000.0,11.0,2017,1,1,472,0,14,-0.219513,61,6,-0.559435
34,0,3,91.0,12,1979,400000.0,8.0,2017,1,1,475,0,14,-0.261017,61,6,-0.559435
35,0,3,94.0,12,1981,403000.0,2.0,2017,1,1,629,0,17,-0.136505,63,9,-0.542435
36,0,3,92.0,12,1981,410000.0,2.0,2017,1,1,546,0,14,-0.219513,63,0,-0.502768
37,0,3,98.0,12,1979,425888.0,2.0,2017,1,1,131,0,16,0.029510,61,0,-0.412734
38,0,3,97.0,12,1977,430000.0,5.0,2017,1,1,254,0,17,-0.011994,59,6,-0.389433
39,0,3,92.0,12,1979,435000.0,5.0,2017,1,1,470,0,14,-0.219513,61,10,-0.361099
40,0,3,91.0,12,1980,435000.0,5.0,2017,1,1,601,0,18,-0.261017,62,5,-0.361099
41,0,3,92.0,12,1980,440000.0,5.0,2017,1,1,463,0,14,-0.219513,62,0,-0.332765
42,0,3,97.0,12,1976,460000.0,5.0,2017,1,1,207,0,13,-0.011994,58,6,-0.219430
43,0,3,97.0,12,1977,518000.0,11.0,2017,1,1,304,0,13,-0.011994,59,4,0.109241
44,0,3,99.0,12,1980,518000.0,11.0,2017,1,1,646,0,19,0.071014,62,11,0.109241
45,0,3,98.0,12,1978,560000.0,11.0,2017,1,1,328,0,16,0.029510,60,8,0.347245
46,0,3,90.0,4,2011,688000.0,14.0,2017,1,1,588,3,28,-0.302521,93,8,1.072589
47,0,3,91.0,4,2011,730000.0,20.0,2017,1,1,588,4,28,-0.261017,93,7,1.310593
48,0,3,91.0,4,2011,756000.0,23.0,2017,1,1,588,4,28,-0.261017,93,7,1.457928
49,0,4,117.0,17,1978,500000.0,2.0,2017,1,1,101,0,16,0.818086,60,0,0.007240
50,0,4,119.0,5,1979,668000.0,14.0,2017,1,1,430,0,16,0.901094,61,0,0.959254
51,0,4,118.0,5,1980,668000.0,20.0,2017,1,1,520,0,18,0.859590,62,8,0.959254
52,0,4,119.0,5,1980,725000.0,14.0,2017,1,1,716,0,19,0.901094,62,5,1.282259
53,0,4,112.0,4,2011,770000.0,11.0,2017,1,1,588,1,28,0.610566,93,7,1.537263
54,0,4,121.0,5,2012,832000.0,11.0,2017,1,1,310,1,13,0.984102,94,8,1.888601
55,0,5,147.0,3,1996,888000.0,8.0,2017,1,1,613,0,17,2.063205,78,4,2.205939
56,1,1,45.0,5,1978,238000.0,5.0,2017,1,1,101,0,38,-2.170200,60,6,-1.477449
57,1,2,68.0,12,1980,272000.0,5.0,2017,1,1,548,0,35,-1.215609,62,6,-1.284779
58,1,2,59.0,5,1978,278000.0,8.0,2017,1,1,75,0,39,-1.589144,60,0,-1.250779
59,1,2,68.0,12,1980,280000.0,2.0,2017,1,1,550,0,35,-1.215609,62,5,-1.239445

In [9]:
# Specify the file path and name for saving the DataFrame
output_file_path = "transformed_data.csv"

# Save the DataFrame to a CSV file
df.to_csv(output_file_path, index=False)

print(f"DataFrame has been saved to {output_file_path}")

DataFrame has been saved to transformed_data.csv